$light-blue: #b3e5fc;
$light-brown: #d7ccc8;
$light-gray: #eee;
$light-yellow: #fff9c4;
$black: #000;

.profile-nav {
  img {
    height: 30px;
    margin-top: 10px;
  }

  .user {
    float: right;
  }
}

.profile {
  .avatar {
    border: 2px solid $light-blue;
    float: left;
    height: 200px;
    padding: 15px;
    width: auto;
  }

  .content-profile {
    float: left;
    margin-left: 20px;
  }

  .score {
    float: right;
  }
}

.badges {
  table {
    width: 70%;
  }

  th,
  td {
    text-align: center;
  }

  .gold-medal {
    background-color: $light-yellow;
  }

  .silver-medal {
    background-color: $light-gray;
  }

  .bronze-medal {
    background-color: $light-brown;
  }
}

.questions-manager-profile,
.answers-manager-profile {
  .right-side {
    float: right;
  }
}

.content-answer-profile {
  color: $black;
}
